{% comment %}
    You can't have the vue component <my-media-row/> be the direct child of a <table/>
    element. This won't work with the browser's HTML parsing.

    To work around that, we can use a <tr/> element with the "is" attribute to replace
    the <tr/> with our <my-media-row/> component after the django template's HTML has
    been parsed by the browser.

    See: https://vuejs.org/guide/essentials/component-basics.html#element-placement-restrictions
{% endcomment %}
<tr is="vue:my-media-row"
    initial-title="{{title}}"
    initial-author="{{author}}"
    initial-year={{year}}
    media-type={{media_type}}
>
</tr>
