{% load django_vite %}
{% load partials %}

<!DOCTYPE html>
<html lang="en" class="h-full">

    <head>
        <title>{% block title %}supergood_review_site{% endblock title %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>⭐</text></svg>">
        {% vite_hmr_client %}
        {% vite_asset 'css/tailwind.css.js' %}
    </head>

    <body class="h-full">
        <div class="min-h-full">
            {% nav_bar %}
            <div class="py-10">
                {% include "supergood_review_site/_messages.html" %}
                <header>
                    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                        <h1 class="text-3xl font-bold leading-tight tracking-tight text-gray-900">
                            {% block header %}
                            {% endblock header %}
                        </h1>
                    </div>
                </header>
                <main>
                    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                        {% block content %}
                        {% endblock content %}
                    </div>
                </main>
                <div/>
            </div>
        </body>

    </html>
