{% extends "base.html" %}

{% load django_vite %}
{% load widget_tweaks %}
{% load tags %}

{% block header %}
    Add a Review
{% endblock header %}

{% block content %}
    {% vite_asset 'css/main.css.js' %}
    {% vite_asset 'js/apps/createReview.ts' %}

    {{review_form.fields.strategy_content_type.initial|json_script:"initialSelectedStrategyId"}}
    {{review_form.fields.media_type_content_type.initial|json_script:"initialSelectedMediaTypeContentType"}}
    {{review_form.fields.media_type_object_id.initial|json_script:"initialSelectedMediaTypeObjectId"}}
    {{review_mgmt_form.fields.create_new_media_type_object.initial|json_script:"initialCreateNewMediaTypeObject"}}

    <div id="review-form-vue-app">
        <form method="post" class="space-y-8 divide-y divide-gray-200">
            <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="sm:border-t sm:border-gray-200">
                    {% field_wrapper review_form.completed_at_day border=false %}
                    {% field_wrapper review_form.completed_at_month border=false %}
                    {% field_wrapper review_form.completed_at_year border=false %}
                </div>
                <div class="sm:border-t sm:border-gray-200">
                    <div>Selected MediaType: [[store.selectedMediaTypeContentType]]</div>
                    <div>Selected MediaType ObjectId: [[store.selectedMediaTypeObjectId]]</div>
                    {% field_wrapper review_form.media_type_content_type state_key="selectedMediaTypeContentType" field_type="radio_cards" label_above=True %}
                    <div v-show="store.selectedMediaTypeContentType">
                        {% field_wrapper review_mgmt_form.create_new_media_type_object state_key="createNewMediaTypeObject" field_type="radio_cards" label_above=True border=False %}
                        {% for media_type_id, media_type_form in media_type_forms.items %}
                            <div v-show="{{media_type_id}} == store.selectedMediaTypeContentType">
                                <div v-show="store.createNewMediaTypeObject === false">
                                    <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:pt-5">
                                        <div class="col-start-2">
                                            <autocomplete
                                                state-key="selectedMediaTypeObjectId"
                                                url={{ media_type_form.autocomplete_url }}
                                                csrf-token={{csrf_token}}
                                            >
                                            </autocomplete>
                                        </div>
                                    </div>
                                </div>
                                <div v-show="store.createNewMediaTypeObject === true">
                                    {% for field in media_type_form %}
                                        {% field_wrapper field border=false %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="sm:border-t sm:border-gray-200">
                    {% field_wrapper field=review_form.strategy_content_type|attr:"v-model:store.selectedStrategyId" %}
                    {% for strategy_id, strategy_form in strategy_forms.items %}
                        <div v-show="{{strategy_id}} == store.selectedStrategyId">
                            {% for field in strategy_form %}
                                {% field_wrapper field border=false %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                    {% field_wrapper field=review_form.text border=false %}
                </div>
                <input type="submit" value="Submit Review" />
            </div>
        </form>
    </div>
{% endblock content %}
