{% extends "base.html" %}

{% load django_vite %}
{% load widget_tweaks %}
{% load tags %}

{% block header %}
    Add a Review
{% endblock header %}

{% block content %}
    {% vite_asset 'css/main.css.js' %}
    {% vite_asset 'js/apps/createReview.ts' %}
    {% vite_asset 'js/apps/autocomplete.ts' %}

    {{review_form.fields.strategy_content_type.initial|json_script:"initialSelectedStrategyId"}}
    {{review_form.fields.media_type_content_type.initial|json_script:"initialSelectedMediaTypeContentType"}}
    {{review_form.fields.media_type_object_id.initial|json_script:"initialSelectedMediaTypeObjectId"}}

    <div id="review-form-vue-app">
        <form method="post" class="space-y-8 divide-y divide-gray-200">
            <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="sm:border-t sm:border-gray-200">
                    {% field_wrapper review_form.completed_at_day border=false %}
                    {% field_wrapper review_form.completed_at_month border=false %}
                    {% field_wrapper review_form.completed_at_year border=false %}
                </div>
                <div class="sm:border-t sm:border-gray-200">
                    {% field_wrapper review_form.media_type_content_type|attr:"v-model:store.selectedMediaTypeContentType" field_type="radio_cards" %}
                    <div>You have chosen: [[store.selectedMediaTypeObjectId]]</div>
                    {% for media_type_id, media_type_form in media_type_forms.items %}
                        <div v-show="{{media_type_id}} == store.selectedMediaTypeContentType">
                            <div id="autocomplete-vue-app"></div>
                            <div>You have chosen: [[store.selectedMediaTypeObjectId]]</div>
                            {% comment %} {% field_wrapper review_form.media_type_object_id|attr:"v-model:selectedMediaTypeObjectId" field_type="algolia_autocomplete" border=False %} {% endcomment %}
                            {% for field in media_type_form %}
                                {% field_wrapper field border=false %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                <div class="sm:border-t sm:border-gray-200">
                    {% field_wrapper field=review_form.strategy_content_type|attr:"v-model:store.selectedStrategyId" %}
                    {% for strategy_id, strategy_form in strategy_forms.items %}
                        <div v-show="{{strategy_id}} == store.selectedStrategyId">
                            {% for field in strategy_form %}
                                {% field_wrapper field border=false %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                    {% field_wrapper field=review_form.text border=false %}
                </div>
                <input type="submit" value="Submit Review" />
            </div>
        </form>
    </div>
{% endblock content %}
