{% load widget_tweaks %}
{% load tags %}
{% load vue_tags %}

{% if item|is_book %}
    {% comment %}
        You can't have the vue component <my-media-row/> be the direct child of a <table/>
        element. This won't work with the browser's HTML parsing.

        To work around that, we can use a <tr/> element with the "is" attribute to replace
        the <tr/> with our <my-media-row/> component after the django template's HTML has
        been parsed by the browser.

        See: https://vuejs.org/guide/essentials/component-basics.html#element-placement-restrictions
    {% endcomment %}
    <tr is="vue:my-media-row"
        initial-title="{{item.title}}"
        initial-creator="{{item.author}}"
        initial-year="{{item.year}}"
        title-field-name="title"
        creator-field-name="author"
        year-field-name="year"
        media-type="Book"
        csrf-token={{csrf_token}}
        update-url={% url 'update_book' item.id %}
        :enabled={{ enabled|to_js_bool }}
    >
        {% include "supergood_reads/forms/_media_field_wrapper.html" with field=form.title v_slot_name="title-field" %}
        {% include "supergood_reads/forms/_media_field_wrapper.html" with field=form.author v_slot_name="creator-field" %}
        {% include "supergood_reads/forms/_media_field_wrapper.html" with field=form.year v_slot_name="year-field" %}
        {% url 'delete_review' object.id as delete_url %}
        {% include "supergood_reads/forms/_delete_form.html" with url=delete_url %}
    </tr>
{% elif item|is_film %}
    <tr is="vue:my-media-row"
        initial-title="{{item.title}}"
        initial-creator="{{item.director}}"
        initial-year="{{item.year}}"
        title-field-name="title"
        creator-field-name="director"
        year-field-name="year"
        media-type="Film"
        csrf-token={{csrf_token}}
        update-url={% url 'update_film' item.id %}
        :enabled={{ enabled|to_js_bool }}
    >
        {% include "supergood_reads/forms/_media_field_wrapper.html" with field=form.title v_slot_name="title-field" %}
        {% include "supergood_reads/forms/_media_field_wrapper.html" with field=form.director v_slot_name="creator-field" %}
        {% include "supergood_reads/forms/_media_field_wrapper.html" with field=form.year v_slot_name="year-field" %}
        {% url 'delete_review' object.id as delete_url %}
        {% include "supergood_reads/forms/_delete_form.html" with url=delete_url %}
    </tr>
{% endif %}
