{% extends "supergood_reads/base.html" %}

{% load django_vite %}
{% load widget_tweaks %}
{% load tags %}
{% load date_picker %}
{% load forms %}

{% block header %}
    {% include "supergood_reads/_basic_header.html" with title="Create Review" %}
{% endblock header %}

{% block content %}
    {% vite_asset 'js/apps/createReview.ts' %}

    {% comment %} Convert initial field values into json for use in vue conponents. {% endcomment %}
    {{review_form|get_initial_field_value:"strategy_content_type"|int_to_str|json_script:"initialSelectedStrategyId"}}
    {{review_form|get_initial_field_value:"media_type_content_type"|int_to_str|json_script:"initialSelectedMediaTypeContentType"}}
    {{review_form|get_initial_field_value:"media_type_object_id"|json_script:"initialSelectedMediaTypeObjectId"}}
    {{review_mgmt_form|get_initial_field_value:"create_new_media_type_object"|json_script:"initialCreateNewMediaTypeObject"}}

    {% comment %} Convert media_type_object_id field data into json for use in vue components. {% endcomment %}
    {{review_form.media_type_object_id|field_to_dict|json_script:"media_type_object_id_field_data"}}

    <div id="review-form-vue-app">
        <form method="post">
            <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
                {% csrf_token %}
                {{ form.non_field_errors }}

                {% comment %} Handle MediaType Selection {% endcomment %}
                <div>
                    {% comment %}
                        <div>Selected MediaType: [[selectedMediaTypeContentType]]</div>
                        <div>Selected MediaType ObjectId: [[selectedMediaTypeObjectId]]</div>
                    {% endcomment %}
                    {% radio_cards_field review_form.media_type_content_type state_key="selectedMediaTypeContentType" %}
                    <div v-show="selectedMediaTypeContentType">
                        {% radio_cards_field review_mgmt_form.create_new_media_type_object state_key="createNewMediaTypeObject" %}
                        {% for media_type_id, media_type_form in media_type_forms.items %}
                            <div v-show="{{media_type_id}} == selectedMediaTypeContentType">
                                <div v-show="!shouldCreateNewMediaTypeObject">
                                    <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 pt-5">
                                        <div></div>
                                        <div class="mt-1 sm:col-span-2 sm:mt-0">
                                            {{ review_form.media_type_object_id.errors }}
                                            <div class="max-w-lg">
                                                <autocomplete
                                                    field-data-json-script-id="media_type_object_id_field_data"
                                                    state-key="selectedMediaTypeObjectId"
                                                    url={{ media_type_form.autocomplete_url }}
                                                    csrf-token={{csrf_token}}
                                                    :should-fetch-initial="{{media_type_id}} == selectedMediaTypeContentType"
                                                >
                                                </autocomplete>
                                            </div>
                                        </div>
                                    </div>
                                    {% comment %} {% with should_fetch_initial="{{media_type_id}} == selectedMediaTypeContentType"  %}
                                        {% autocomplete_field field=review_form.media_type_object_id state_key="createNewMediaTypeObject" url=media_type_form.autocomplete_url should_fetch_initial=should_fetch_initial %}
                                    {% endwith %} {% endcomment %}
                                </div>
                                <div v-show="shouldCreateNewMediaTypeObject" ref={{media_type_id|get_media_type_form_ref}}>
                                    {% for field in media_type_form %}
                                        {% supergood_field field %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                {% comment %} Handle completed_at date {% endcomment %}
                {% date_picker day_field=review_form.completed_at_day month_field=review_form.completed_at_month year_field=review_form.completed_at_year %}

                {% comment %} Handle Rating Strategy {% endcomment %}
                <div>
                    {% supergood_field field=review_form.strategy_content_type|attr:"v-model:selectedStrategyId" %}
                    {% for strategy_id, strategy_form in strategy_forms.items %}
                        <div v-show="{{strategy_id}} == selectedStrategyId" ref={{strategy_id|get_strategy_form_ref}}>
                            {% for field in strategy_form %}
                                {% supergood_field field %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                    {% supergood_field field=review_form.text %}
                </div>

                {% comment %} Submit {% endcomment %}
                {% block submit %}
                    <div class="pt-5">
                        <div class="flex justify-start">
                            <input type="submit" class="cursor-pointer ml-3 inline-flex justify-center rounded-md bg-indigo-600 py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" value="Submit Review"/>
                        </div>
                    </div>
                {% endblock submit %}
            </div>
        </form>
    </div>
{% endblock content %}
