# Byte-compiled / optimized / DLL files
__pycache__/

# pyenv
.python-version

# VisualStudioCode template
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Virtual Environments
.venv
venv/

# mypy
.mypy_cache/

# env variables
.env

# Node dependencies
node_modules/
