{% extends "supergood_reads/views/base/base.html" %}

{% load django_vite %}
{% load widget_tweaks %}
{% load review_form %}
{% load forms %}
{% load basic_header %}
{% load vue_tags %}

{% block header %}
    {% basic_header "Create Review" %}
{% endblock header %}

{% block content %}
    {% vite_asset 'js/apps/reviewForm.ts' %}
    {{ initial_data_for_vue_store|json_script:"initialDataForVueStore" }}

    <div id="review-form-vue-app">
        <form method="post">
            <div class="space-y-12 divide-y divide-gray-200 mx-auto max-w-2xl">
                {% csrf_token %}
                {{ form.non_field_errors }}

                {% comment %} Handle MediaType Selection {% endcomment %}
                <div class="my-12">
                    {% form_subheading title="Select a Media Type" text="What do you want to review?" %}
                    {% comment %} Select MediaType Type {% endcomment %}
                    {% with field=review_form.media_type_content_type field_data_json_script_id="media_type_content_type_field_data" %}
                        {{field|field_to_dict|vue_json_script:field_data_json_script_id}}
                        <field-wrapper
                            field-data-json-script-id="{{ field_data_json_script_id }}"
                        >
                            <template #field="{fieldData}">
                                <radio-cards
                                    v-model="selectedMediaTypeContentType"
                                    :field-data="fieldData"
                                >
                                </radio-cards>
                            </template>
                        </field-wrapper>
                    {% endwith %}
                    <div v-show="selectedMediaTypeContentType">
                        {% comment %} Create New MediaType or Select Existing {% endcomment %}
                        {% with field=review_mgmt_form.create_new_media_type_object field_data_json_script_id="field_data_create_new" %}
                            {{field|field_to_dict|vue_json_script:field_data_json_script_id}}
                            <field-wrapper
                                field-data-json-script-id="{{ field_data_json_script_id }}"
                            >
                                <template #field="{fieldData}">
                                    <radio-cards
                                        v-model="createNewMediaTypeObject"
                                        :field-data="fieldData"
                                    >
                                    </radio-cards>
                                </template>
                            </field-wrapper>
                        {% endwith %}
                        {% for media_type_id, media_type_form in media_type_forms_by_id.items %}
                            <div v-show="{{media_type_id}} == selectedMediaTypeContentType">
                                <div v-show="!shouldCreateNewMediaTypeObject">
                                    {% comment %} MediaType Autocomplete {% endcomment %}
                                    {% with field=review_form.media_type_object_id field_data_json_script_id="media_type_object_id_field_data" %}
                                        {{field|field_to_dict|vue_json_script:field_data_json_script_id}}
                                        <field-wrapper
                                            field-data-json-script-id="{{ field_data_json_script_id }}"
                                        >
                                            <template #field="{fieldData}">
                                                <autocomplete
                                                    v-model="selectedMediaTypeObjectId"
                                                    :field-data="fieldData"
                                                    {% if initial_media_type_content_type == media_type_id %}
                                                        initial-value-id="{{ initial_media_type_object_id }}"
                                                    {% endif %}
                                                    csrf-token={{ csrf_token }}
                                                    url={% media_type_autocomplete_url media_type_id %}
                                                >
                                                </autocomplete>
                                            </template>
                                        </field-wrapper>
                                    {% endwith %}
                                </div>
                                <div v-show="shouldCreateNewMediaTypeObject" ref={{media_type_id|get_media_type_form_ref}}>
                                    {% for field in media_type_form %}
                                        {% supergood_field field %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                {% comment %} Handle completed_at date {% endcomment %}
                <div class="my-12">
                    {% form_subheading title="Date" text="When did you finish it?" %}
                    {% date_picker day_field=review_form.completed_at_day month_field=review_form.completed_at_month year_field=review_form.completed_at_year %}
                    <p class="mt-2 text-sm text-gray-500">It's okay to enter an estimated date (just a month and year, or just a year).</p>
                </div>

                {% comment %} Handle Rating Strategy {% endcomment %}
                <div class="my-12">
                    {% form_subheading title="Rating" text="What kind of rating strategy do you want to use?" %}
                    {% supergood_field field=review_form.strategy_content_type|attr:"v-model:selectedStrategyId" %}
                    {% for strategy_id, strategy_form in strategy_forms_by_id.items %}
                        <div v-show="{{strategy_id}} == selectedStrategyId" ref={{strategy_id|get_strategy_form_ref}}>
                            {% for field in strategy_form %}
                                {% supergood_field field %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                    {% supergood_field field=review_form.text %}
                </div>

                {% comment %} Submit {% endcomment %}
                {% block submit %}
                    <div class="pt-5">
                        <div class="flex justify-start">
                            <input type="submit" class="cursor-pointer ml-3 inline-flex justify-center rounded-md bg-indigo-600 py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" value="Submit Review"/>
                        </div>
                    </div>
                {% endblock submit %}
            </div>
        </form>
    </div>
{% endblock content %}
