{% extends "supergood_reads/views/base/base.html" %}

{% load django_vite %}
{% load widget_tweaks %}
{% load forms %}
{% load basic_header %}
{% load vue_tags %}

{% block header %}
    {% basic_header "Create Review" %}
{% endblock header %}

{% block content %}
    {% vite_asset 'js/apps/reviewForm.ts' %}
    {{ initial_data_for_vue_store|json_script:"initialDataForVueStore" }}

    <div id="review-form-vue-app">
        <form method="post">
            <div class="space-y-12 divide-y divide-gray-200 mx-auto max-w-2xl">
                {% csrf_token %}
                {{ review_form.non_field_errors }}

                {% comment %} Handle MediaItem Selection {% endcomment %}
                <div class="my-12">
                    {% form_subheading title="Select a Media Type" text="What do you want to review?" %}
                    {% comment %} Select MediaItem Type {% endcomment %}
                    {% vue_field_interface review_form.media_item_content_type as media_item_content_type_vue_field %}
                    <field-wrapper :field="{{media_item_content_type_vue_field}}">
                        <radio-cards
                            v-model="selectedMediaItemContentType"
                            :field="{{media_item_content_type_vue_field}}"
                        ></radio-cards>
                    </field-wrapper>
                    <div v-show="selectedMediaItemContentType">
                        {% comment %} Create New MediaItem or Select Existing {% endcomment %}
                        {% vue_field_interface review_mgmt_form.create_new_media_item_object as create_new_media_item_object_vue_field %}
                        <field-wrapper :field="{{create_new_media_item_object_vue_field}}">
                            <radio-cards
                                v-model="createNewMediaItemObject"
                                :field="{{create_new_media_item_object_vue_field}}"
                            ></radio-cards>
                        </field-wrapper>
                        {% comment %} Autocomplete to select existing MediaItem {% endcomment %}
                        <div v-show="!shouldCreateNewMediaItemObject" v-if="autocompleteUrl">
                            {% vue_field_interface review_form.media_item_object_id as media_item_object_id_vue_field %}
                            <field-wrapper :field="{{media_item_object_id_vue_field}}">
                                <autocomplete
                                    v-model="selectedMediaItemObjectId"
                                    :field="{{media_item_object_id_vue_field}}"
                                    :url="autocompleteUrl"
                                    csrf-token={{ csrf_token }}
                                >
                                </autocomplete>
                            </field-wrapper>
                        </div>
                        {% comment %} Forms to create new MediaItem {% endcomment %}
                        <div v-if="shouldCreateNewMediaItemObject">
                            {% for media_item_id, media_item_form in media_item_forms_by_id.items %}
                                <div v-if="{{media_item_id}} == selectedMediaItemContentType">
                                    {{ media_item_form.non_field_errors }}
                                    {% for field in media_item_form %}
                                        {% supergood_field field %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                {% comment %} Handle completed_at date {% endcomment %}
                <div class="my-12">
                    {% form_subheading title="Date" text="When did you finish it?" %}
                    {% vue_field_interface review_form.completed_at_day as day_vue_field %}
                    {% vue_field_interface review_form.completed_at_month as month_vue_field %}
                    {% vue_field_interface review_form.completed_at_year as year_vue_field %}
                    <date-picker
                        :day-field="{{day_vue_field}}"
                        :month-field="{{month_vue_field}}"
                        :year-field="{{year_vue_field}}"
                    >
                    </date-picker>
                    <p class="mt-2 text-sm text-gray-500">It's okay to enter an estimated date (just a month and year, or just a year).</p>
                </div>

                {% comment %} Handle Rating Strategy {% endcomment %}
                <div class="my-12">
                    {% form_subheading title="Rating" text="What kind of rating strategy do you want to use?" %}
                    {% supergood_field field=review_form.strategy_content_type|attr:"v-model:selectedStrategyContentType" %}
                    {% for strategy_id, strategy_form in strategy_forms_by_id.items %}
                        <div v-if="{{strategy_id}} == selectedStrategyContentType">
                            {{ strategy_form.non_field_errors }}
                            {% for field in strategy_form %}
                                {% supergood_field field %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                    {% supergood_field field=review_form.text %}
                </div>

                {% comment %} Submit {% endcomment %}
                {% block submit %}
                    <div class="pt-5">
                        <div class="flex justify-start">
                            <input type="submit" class="cursor-pointer ml-3 inline-flex justify-center rounded-md bg-indigo-600 py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" value="Submit Review"/>
                        </div>
                    </div>
                {% endblock submit %}
            </div>
        </form>
    </div>
{% endblock content %}
