{% load widget_tweaks %}
{% load tags %}


{% if field_type == "radioselect" %}
    {% include "django_flex_reviews/_radioselect_field_wrapper.html" with field=field %}
{% else %}
    <div class="space-y-6 sm:space-y-5">
        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:pt-5 {% if border %} sm:border-t sm:border-gray-200 {% endif %}">
            {% if not label_above %}
                <label for="{{ field.id_for_label }}" class="block font-medium text-gray-700 sm:mt-px sm:pt-2 sm:text-sm">
                    {{ field.label }}
                </label>
            {% else %}
                <div></div>
            {% endif %}
            <div class="mt-1 sm:col-span-2 sm:mt-0">
                {{ field.errors }}
                {% if label_above %}
                    <label for="{{ field.id_for_label }}" class="block font-medium text-gray-700 sm:mt-px sm:pt-2 sm:text-sm">
                        {{ field.label }}
                    </label>
                {% endif %}
                {% if field_type == "number" %}
                    {{ field|add_class:"mt-1 block w-fit rounded-md border-gray-300 py-2 pl-3 text-base focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" }}
                {% elif field_type == "textarea" %}
                    {{ field|add_class:"block w-full max-w-lg rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:py-1.5 sm:text-sm sm:leading-6" }}
                {% elif field_type == "radio_cards" %}
                    {% with field_data_json_script_id="radio_cards_json_script_id_"|add:field.id_for_label %}
                        {{field|field_to_dict|vue_json_script:field_data_json_script_id}}
                        <radio-cards
                            field-data-json-script-id="{{field_data_json_script_id}}"
                            state-key="{{state_key}}"
                        >
                        </radio-cards>
                    {% endwith %}
                {% else %}
                    {{ field|add_class:"block w-full max-w-lg rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-sm" }}
                {% endif %}
                {% if field.help_text %}
                    <p class="mt-2 text-sm text-gray-500">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
