{% extends "supergood_reads/views/base/base.html" %}

{% load django_vite %}
{% load widget_tweaks %}
{% load review_form %}
{% load forms %}
{% load basic_header %}
{% load vue_tags %}

{% block header %}
    {% basic_header "Create Media Item" %}
{% endblock header %}

{% block content %}
    {% vite_asset 'js/apps/mediaForm.ts' %}
    <div id="media-form-vue-app">
        <div class="space-y-12 divide-y divide-gray-200 mx-auto max-w-2xl">
            {% comment %} Handle MediaType Selection {% endcomment %}
            <div class="my-12">
                {% form_subheading title="Select a Media Type" text="What do you want to create?" %}
                {% comment %} Select MediaType Type {% endcomment %}
                {% with field=media_mgmt_form.media_type_content_type %}
                    <radio-cards
                        v-model="selectedMediaTypeContentType"
                        :choices="{{ field.field.choices }}"
                    >
                {% endwith %}
            </div>
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div v-show="selectedMediaTypeContentType">
                    {% for media_type_id, media_type_form in media_type_forms_by_id.items %}
                        <div v-show="{{media_type_id}} == selectedMediaTypeContentType">
                            {% for field in media_type_form %}
                                {% supergood_field field %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                {% comment %} Submit {% endcomment %}
                {% block submit %}
                    <div class="pt-5">
                        <div class="flex justify-start">
                            <input type="submit" class="cursor-pointer inline-flex justify-center rounded-md bg-indigo-600 py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" value="Submit"/>
                        </div>
                    </div>
                {% endblock submit %}
            </form>
        </div>
    </div>
{% endblock content %}
