{% extends "supergood_reads/forms/_field_wrapper.html" %}

{% load widget_tweaks %}
{% load forms %}
{% load tags %}

{% block field %}
    {{ field|field_to_dict|vue_json_script:field_data_json_script_id }}
    <div class="max-w-lg">
        <autocomplete
            initial-value-id="{{ initial_value_id }}"
            csrf-token="{{ csrf_token }}"
            field-data-json-script-id="{{ field_data_json_script_id }}"
            state-key="{{ state_key }}"
            url="{{ url }}"
        >
        </autocomplete>
    </div>
{% endblock field %}
