<div class="mt-5">
    {{ field.errors }}
    <label class="block text-sm font-medium leading-6 text-gray-900">{{ field.label }}</label>
    {% if field.help_text %}
        <p class="text-sm text-gray-500">
            {{ field.help_text|safe }}
        </p>
    {% endif %}
    <fieldset class="mt-4">
        <legend class="sr-only">{{ field.label }}</legend>
        <div class="space-y-4">
            {% for choice in field %}
                <div class="flex items-center">
                    {{ choice.tag }}
                    <label
                        for={{ choice.id_for_label }}
                        class="ml-3 block text-sm leading-6 text-gray-900"
                    >
                        {{ choice.choice_label }}
                    </label>
                </div>
            {% endfor %}
        </div>
    </fieldset>
</div>
