{% load widget_tweaks %}

<fieldset>
    <div class="space-y-6 sm:space-y-5 {% if border %} sm:border-t sm:border-gray-200 {% endif %}">
        <div class="{% if label_above %} sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:pt-5 sm:border-t sm:border-gray-200 {% endif %}">
            <legend class="block font-medium text-gray-700 sm:mt-px sm:pt-2 sm:text-sm">When did you finish it?</legend>
            <div class="mt-1 sm:col-span-2 sm:mt-0">
                <div>
                    {{ day_field.errors }}
                    {{ month_field.errors }}
                    {{ year_field.errors }}
                </div>
                <div class="mt-1 sm:mt-0 flex flex-wrap gap-4">
                    <div>
                        <label for="{{ day_field.id_for_label }}" class="block font-medium text-gray-700 sm:mt-px sm:pt-2 sm:text-sm">
                            {{ day_field.label }}
                        </label>
                        {{ day_field|add_class:"block w-fit rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-sm"}}
                    </div>
                    <div>
                        <label for="{{ month_field.id_for_label }}" class="block font-medium text-gray-700 sm:mt-px sm:pt-2 sm:text-sm">
                            {{ month_field.label }}
                        </label>
                        {{ month_field|add_class:"block w-fit rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-sm" }}
                    </div>
                    <div>
                        <label for="{{ year_field.id_for_label }}" class="block font-medium text-gray-700 sm:mt-px sm:pt-2 sm:text-sm">
                            {{ year_field.label }}
                        </label>
                        {{ year_field|add_class:"block w-24 rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-sm" }}
                    </div>
                </div>
                <p class="mt-2 text-sm text-gray-500">It's okay to enter an estimated date (just a month and year; or only a year).</p>
            </div>
        </div>
    </div>
</fieldset>
