{% load widget_tweaks %}

<div class="mt-5">
    <div>
        {{ day_field.errors }}
        {{ month_field.errors }}
        {{ year_field.errors }}
    </div>
    <div class="mt-1 sm:mt-0 flex flex-wrap gap-4">
        <div>
            <label for="{{ day_field.id_for_label }}" class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5">
                {{ day_field.label }}
            </label>
            {{ day_field|add_class:"block w-fit rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-sm"}}
        </div>
        <div>
            <label for="{{ month_field.id_for_label }}" class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5">
                {{ month_field.label }}
            </label>
            {{ month_field|add_class:"block w-fit rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-sm" }}
        </div>
        <div>
            <label for="{{ year_field.id_for_label }}" class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5">
                {{ year_field.label }}
            </label>
            {{ year_field|add_class:"block w-24 rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:max-w-xs sm:text-sm" }}
        </div>
    </div>
</div>
