<fieldset class="pt-6 sm:pt-5">
    <div class="sm:grid sm:grid-cols-3 sm:items-baseline sm:gap-4">
        <div>
            <legend
                class="text-base font-medium text-gray-900 sm:text-sm sm:text-gray-700"
            >
                {{ field.label }}
            </legend>
        </div>
        <div class="sm:col-span-2">
            <div class="max-w-lg">
                {% if field.help_text %}
                    <p class="text-sm text-gray-500">
                        {{ field.help_text|safe }}
                    </p>
                {% endif %}
                <div class="grid grid-cols-3 gap-3 sm:grid-cols-6">
                    {% for choice in field %}
                        <label
                            for={{ choice.id_for_label }}
                            class="flex items-center justify-center rounded-md py-3 px-3 text-sm font-semibold sm:flex-1 cursor-pointer focus:outline-none derp ring-1 ring-inset ring-gray-300 bg-white text-gray-900 hover:bg-gray-50"
                        >
                            {{ choice.tag }}
                        </label>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</fieldset>


<div>
    <div class="flex items-center justify-between">
        <h2 class="text-sm font-medium leading-6 text-gray-900">RAM</h2>
        <a href="#" class="text-sm font-medium leading-6 text-indigo-600 hover:text-indigo-500">See performance specs</a>
    </div>

    <RadioGroup v-model="mem" class="mt-2">
        <RadioGroupLabel class="sr-only"> {{ field.label }} </RadioGroupLabel>
        <div class="grid grid-cols-3 gap-3 sm:grid-cols-6">
            <RadioGroupOption as="template" v-for="option in memoryOptions" :key="option.name" :value="option" :disabled="!option.inStock" v-slot="{ active, checked }">
                <div :class="[option.inStock ? 'cursor-pointer focus:outline-none' : 'cursor-not-allowed opacity-25', active ? 'ring-2 ring-indigo-600 ring-offset-2' : '', checked ? 'bg-indigo-600 text-white hover:bg-indigo-500' : 'ring-1 ring-inset ring-gray-300 bg-white text-gray-900 hover:bg-gray-50', 'flex items-center justify-center rounded-md py-3 px-3 text-sm font-semibold uppercase sm:flex-1']">
                    <RadioGroupLabel as="span">{{ option.name }}</RadioGroupLabel>
                </div>
            </RadioGroupOption>
        </div>
    </RadioGroup>
</div>


{{field|field_to_dict|vue_json_script:json_script_id}}

{% comment %} <component :is="'script'" id="radio_cards_json_script_id_id_review-media_type_content_type" type="application/json">{"name": "review-media_type_content_type", "label": "Media Type", "choices": [["hi", "there"]]}</component> {% endcomment %}
